.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/hotel-clase.appspot.com/o/imghotelh.jpg?alt=media&token=4f37dc1d-f51c-4a16-9236-210307e65996);
    background-position: top center;
    background-size: cover;
    padding: 5% 50% 30% 5%;
    position: relative;
    z-index: 1 ;
}

.banner::after{
    content: '';
    background-color: black;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}